*{
    margin: 0;
    padding: 0;
}

#main-box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #161616;
}

#box{
    height: 300px;
    width: 500px;
    background: rgb(14, 110, 255);
    border-radius: 10px;
}

h4{
    display: inline;
}

h4 p{
    display: inline;
}